spring:
  application:
    name: "PrivateAPI"
.  data:
    mongodb:
      uri: "mongodb://localhost:27017/ranked_data"
    redis:
      host: ${REDIS_ADDRESS:127.0.0.1}
      port: 6379
  cache:
    type: redis
  properties:
    hibernate:
      dialect: org.hibernate.dialect.PostgreSQLDialect
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: "always"
