on:
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  checkstyle_job:
    runs-on: ubuntu-latest
    name: Checkstyle job
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Run check style
      uses: nikitasavinov/checkstyle-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        reporter: 'github-pr-check'
        tool_name: 'checkstyle'
        fail_level: warning
        checkstyle_config: checkstyle/checkstyle.xml
