on:
  pull_request:
    types: [opened, synchronize, reopened]
permissions:
  checks: write
  contents: read
jobs:
  checkstyle:
    name: runner / checkstyle
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: 25
          distribution: 'temurin'
          cache: gradle
      - name: Cache Gradle packages
        uses: actions/cache@v4
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      - name: Change wrapper permissions
        run: chmod +x ./gradlew
      - name: Run Gradle Checkstyle
        run: ./gradlew checkstyleMain checkstyleTest --no-daemon -Dcheckstyle.ignoreFailures=true
      - name: Publish Checkstyle reports
        uses: gmazzo/publish-report-annotations@8bec9f79d4fb200c6d42faeeb2e04879646ba04f
        if: ${{ !cancelled() }}
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          workflowSummary: true
          reports: |
            **/build/reports/checkstyle/**/*.xml
          checksSummary: full
          filterChecks: true
          failOnError: true
          failIfNoReportsFound: false
