name: EditorConfig Checker
on:
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  editorconfig:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: editorconfig-checker/action-editorconfig-checker@4b6cd6190d435e7e084fb35e36a096e98506f7b9
      - run: editorconfig-checker
