name: EditorConfig Checker
on:
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  editorconfig:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - uses: editorconfig-checker/action-editorconfig-checker@main
      - run: editorconfig-checker
