name: Format
on:
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  reformat:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: joutvhu/intellij-format@a7bc832bc5258ce68662cea2d77044c34a3cad17
